@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto' sans-serif;
background-image: linear-gradient(#b1afaf, #b1afaf);
height: 122vh;
font-weight: bold;
letter-spacing: 2px;
display: flex;
}
*{
    position: relative;
    margin: 0px; padding: 0px; 
    
}
.main{
    background-color: white;;
    width: 660px;
        position: absolute;
    transform: translate(-50% -50%);
    left: 30%;
    
}
.left{
    background-color: #21aa9f;
    width: 201px;
    height: 1000px;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.profile img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #21aa9f;
    box-shadow: 6px 7px 9px 5px #1b928c73;
}
.profile-img{
    width: 100%;
    border-radius: 50%;
}
.box-1{
position: relative;
}
.heading{
    background-color: #238e92;
    padding: 10px;
    color: #1358be;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading:after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #238e92;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: 1%;
}
.p1{
    padding: 9px 10px;
    font-size: 11px;
}
.icons1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.skillcontainer{
width: 90%;
background-color: #4d4d4d;
margin: 0px 10px;
}
.skill{
    text-align: right;
    padding-left: 2px;
    padding-bottom: 2px;
    color: aliceblue;
}
.html{
    width: 90px;
    background: white;
}
.css{
    width: 70%;
    background-color: white;
}
.js{
    width:20%;
    background-color: white;
}
.wd{
    width:80%;
    background-color: white;
}
.gd{
    width:50%;
    background-color: white;
}
.name-div{
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}
.name{
    margin-bottom: 10px;
}
.box-2{
    padding: 0px 50px;
    margin-top: 30px;
}
.p2{
    font-size: 10x;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
.h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.p3{
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 10px;
}
span{
color:  #0bd1d8; padding-left: 20px;
}
.fa-solid{
    margin-left: 20%;
}

@media (max-width: 1024px) {
    .right{width: 672px;}
    .main{
        background-color: white;
    width: 1024px;
    }
     
}
@media (max-width: 1440px) {
    .right{width: 1200px;}
    .main{
        background-color: white;
    width: 1440px;
    }
     
}
@media (max-width: 768px) {
    .right{width: 400px;}
    .main{
        background-color: white;
    width: 768px;
    }
     
}